# Pass all 404 requests through the index.php in this same folder
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]
</IfModule>

# Let DOCUMENT_ROOT/git/index.php handle directory index
DirectoryIndex /git/index.php